# Archivos y carpetas generados por el sistema operativo
.DS_Store
Thumbs.db

# Carpetas generadas por IDEs o editores de código
.idea/
.vscode/

# Dependencias y módulos de Node.js
/node_modules

# Archivos de compilación y resultados de pruebas
/build/
/dist/
/out/
/coverage/

# Otros archivos y carpetas específicos de tu proyecto
archivo.log
carpeta-secreta/
